* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    font-size: 16px;
}

h1 {
    color:blue;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: square;
    margin: 20px;
    padding: 0 20px;
}

#control-strctures {
    color: red;
}

.objects {
    font-weight: bold;
}